@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// Reboot
*,
*::before,
*::after {
  box-sizing: border-box;
}


ol, ul, {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  color: #394556;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  margin: 0 20px;
}

.stepper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 98px 0 98px 0;
}

.stepper-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 670px;
  margin: 0 0 40px 0;
}

.step-header {
  position: relative;
  flex: 1;
  padding: 0 7px;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


$step-icon-state-number-size: 52px;
.step-icon-state {
  width: $step-icon-state-number-size;
  height: $step-icon-state-number-size;
  margin: 0 0 7px 0;
  border-radius: 100%;
  border: 2px solid #D5DEE4;
  background-color: #D5DEE4;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    border-color: #15B0FC;
    background-color: transparent;
  }

  &.fulfilled {
    border-color: #15B0FC;
    background-color: #15B0FC;
  }
}

.step-icon-label-text {
  font-weight: bolder;
  font-size: 28px;
  color: white;

  &.active {
    color: #15B0FC;
  }

  &.fulfilled {

  }
}

.step-label-text {
  font-size: 20px;
  color: #394556;
  text-align: center;
}

.step-horizontal-line {
  flex: 1 1 auto;
  height: 2px;
  width: calc(100% - #{$step-icon-state-number-size});
  background-color: #D5DEE4;
  position: absolute;
  left: calc(-50% + #{$step-icon-state-number-size} / 2);
  right: calc(50% + #{$step-icon-state-number-size} / 2);
  top: calc(#{$step-icon-state-number-size} / 2);

  &.active, &.fulfilled {
    background-color: #15B0FC;
  }
}

.stepper-alert-container {
  min-width: 490px;
}

.stepper-content {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  width: 490px;
  min-height: 768px;
  padding: 35px;
  border-radius: 13px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 16px #0000001A;
}

.between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
}

.stepper-title {
  color: #15B0FC;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 35px;
}

// FORM
.form-field {
  margin: 0 0 20px 0;

  label {
    display: inline-block;
  }
}


.form-label {
  margin-bottom: 10px;
  color: #394556;
  font-size: 18px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 8px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #394556;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #C8D3DB;
  appearance: none;
  border-radius: 8px;
}

.form-field-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.form-field-group > .form-control {
  position: relative;
  flex: 1;
  width: 1%;
  min-width: 0;
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-field-group > .btn,
.form-field-group > .toggle-content > .btn {
  position: relative;
  z-index: 2;
  margin-right: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 16px;
  font-weight: 400;
  min-width: 127px;
  text-align: left;
}

.toggle-content {

}

.button-group {
  margin: 0 0 30px 0;
}

// Custom radio button

.field-check {
  margin: 0 0 30px 0;
}

.field-check-input {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked + label {
    &:before {
      border-color: #C8D3DB;
      background-color: #15B0FC;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='23px' height='16px' viewBox='0 0 23 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cpath d='M1,8.5156589 L6.37085041,14.6277283 C6.73540777,15.0425974 7.36725777,15.0833831 7.78212687,14.7188258 C7.80229278,14.7011054 7.82173694,14.6825802 7.8404121,14.6632952 L21.0716098,1' id='Line' stroke='%23FFFFFF' stroke-width='2'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &:not(:disabled) {
    &:not(:checked) + label {
      &:hover {
        &:before {
          border-color: #15B0FC;
        }
      }
    }

    &:active + label {
      &:before {
        background-color: #80CFF5;
        border-color: #15B0FC;
      }
    }
  }

  &:disabled + label {
    color: #C8D3DB;

    &:before {
      background-color: #EAF1F7;
      border-color: #C8D3DB;
    }
  }

}

.field-check-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 18px;
  line-height: 24px;
  color: #394556;

  &:before {
    content: '';
    position: relative;
    display: inline-flex;
    width: 45px;
    height: 45px;
    margin: 0 20px 0 0;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #C8D3DB;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}


.btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 24px;
  color: #394556;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 8px 20px;
  font-size: 18px;
  border-radius: 8px;

  &:hover, &:focus {
    opacity: 0.67;
  }

  &.s-lg {
    font-weight: bold;
    font-size: 28px;
    padding: 18px 20px;
  }

  &.primary {
    background-color: #15B0FC;
    color: white;
  }

  &.link {
    padding: 8px 0;
    background-color: transparent;
    color: #15B0FC;
  }

  &.outline {
    border-color: #15B0FC;
    background-color: white;
    color: #15B0FC;;
  }
}

.btn-outline {
  border: 2px solid #C8D3DB;
  background-color: #EEEEEE;
}


.dropdown-toggle {
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #394556;
    position: relative;
    display: inline-block;
    margin-left: 13px;
  }
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  // padding: 10px 0;
  margin: 0;
  font-size: 16px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-menu.show {
  display: block;
  margin-top: 3px;
  // transform: translate3d(0px, 47px, 0px);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 7px 20px;
  clear: both;
  font-weight: 400;
  color: #394556;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  min-width: 150px;

  &:hover {
    background-color: #EEEEEE;
    // color: #15B0FC;
  }

  &:disabled {
    pointer-events: none;
    color: #D5DEE4;
  }
}

.to-column {
  display: flex;
  flex-direction: column;

  > .btn {
    margin-bottom: 10px;
  }
}


.description {
  font-size: 18px;
  line-height: 24px;
  color: #394556;
  margin: 0 0 27px 0;
}

.list-group {
  list-style: none;
}

.list-group-item {
  display: flex;
  align-items: baseline;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;

  .item-label {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 0 40px 0 0;
    min-width: 130px;
  }
}

// Alert
.alert {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 8px;

  &.primary {
    color: #0D47A1;
    background-color: #BBDEFB;
    border-color: #64B5F6;
  }

  &.danger {
    color: #B71C1C;
    background-color: #FFCDD2;
    border-color: #E57373
  }

  .alert-close {
    @extend .element-close;
  }
}

.element-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 10px;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/20px auto no-repeat;
  border: 0;
  opacity: .5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

// Modal
.backdrop {
  opacity: .7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(227, 242, 253, 0.96);
  display: block;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .backdrop {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: rgb(187 217 245 / 27%);
  }
}

.modal-open {
  overflow: hidden !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1700;
  display: block;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  overflow-y: auto;
  outline: 0;
  //pointer-events: none;

  .modal-wrapper {
    max-width: 490px;
    margin: 70px auto;
    padding: 10px;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 16px #0000001A;
    border-radius: 13px;
    padding: 30px;
    pointer-events: auto;
  }

  .modal-title {
    color: #15B0FC;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 35px;
  }

  .modal-content {
  }

  .modal-close {
    @extend .element-close;
  }
}
